html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.7rem;
    font-family: 'East Sea Dokdo', cursive;
    background-color: rgb(81, 73, 94);
    color: lavender;
}

.button {
    border-radius: 5%;
}
